@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}




header .right-section{
    align-items: flex-start;
    align-self: flex-start;
    gap: 15px;
    display: flex;
    padding: 0 1rem;

}

.logo{
    z-index: 2;
}


header {
    width: 100%;
    height: 70px; 
    background: #2B3D49; 
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: .2s;
    justify-content: space-between;
    
}

header h2{


    margin-left: -33rem;
    color: white;
    font-size: 2rem;
}

/* Estilos para el contenedor del asistente virtual */


.chatbot .status{
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio */
    gap: 10px;
    
}
/* Estilos para el contenedor del asistente virtual */
.chatbot {
    
    background-color: #E8E8E8;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    grid-column: span 2;
    z-index: 100;
    
    
}



.chatbot .firstcolumn{
    flex-direction: column;
}


.chatbot .info {
    flex: 1;
    
}

.chatbot .chatTitle h1 {
    font-size: 1.5rem;
    color: #0097a7;
    padding-top: 2rem;
    width: 14rem;
    padding-bottom: 1rem;
}
.chatbot .info h3{
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: #555;
    margin: 0px 0;
    width: 18rem;
    
}

.chatbot .robot1{
    width: 170px;
    height: 100px;
    border-radius: 50%;
    margin-right: 0px;
}



/* Estilos para la sección de chat */
/* .chat-content {

    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
} */

.chat-content {
    display: flex;
    align-items: center; /* Cambia `right` a `center` para una alineación válida */
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 19rem;
    gap: 1.5rem;
    
}

.chat-content img {
    padding-left: 1rem;;
    width: 89px;
    height: 77px;
    border-radius: 0%;
    max-width: 100%;
    max-height: 10%;
}

.chat-content .chat-message {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 6rem;
}

.chat-content .chat-message strong {
    color: #ff6f00;
    font-size: 1rem;
}

.chat-content .chat-message p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}

.thirdcolumn {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    height: 150%; /* Asegúrate de que la columna ocupe toda la altura del contenedor */
    padding: 10px;
}

.chatbutton {
    margin-top: auto; /* Empuja el chatbutton hacia la parte inferior */
    align-items: center; /* Opcional: centra el contenido dentro del botón si hay más de un elemento */
    gap: 10px; /* Espacio entre la imagen y el botón */
}

.chatbutton img {
    width: 50px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
}

.chatbutton h3 {
    color: #179BAE;
    background: none;
    border: none;
    font-size: 13px;
    cursor: pointer;
}





.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* iconos de la barra */
.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #2B3D49;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.sidebar{
    width: 15rem;
}
.sidebar a:hover {
    background-color: #2B3D49; 
    color: #0A2B59; 
    border-radius: 20px; 
    transform: translateX(-20px); 
}

.sidebar a:hover .material-icons-sharp {
    color: #FF8343; /* icono  */
}




*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 400vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    z-index: 2;
}

a{
    color: #FBBD5D;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
    z-index: 1
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: #FBBD5D;
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: #FBBD5D;
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}



.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}



.logo img{
    padding-left: 2rem;
    padding-top: 0rem;
    width: 5rem;
    height:3rem;
}



aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: #2B3D49;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 7rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

#inicio_sidebar{
    margin-top: 2rem;
}
aside .sidebar a{
    /* margin-top: 1rem; */
    display: flex;
    align-items: center;
    color: var(--color-white);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var #0A2B59;
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color:#FF8343;
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main{
    margin-top: 3rem;
}


main .welcome{
   
    margin-left: 7rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem 5rem;
    
    
    
}

main .welcome > div{
    
    z-index: 1;
    
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;

}

main .welcome .sales{
    padding: var(--card-padding);
    background-color: var(--color-white);
}
main .welcome .gestion{
    padding: var(--card-padding);
    background-color: var(--color-white);
}
main .welcome .views{
    padding: var(--card-padding);
    background-color: var(--color-white);
}
main .welcome .searches{
    padding: var(--card-padding);
    background-color: var(--color-white);
}
main .welcome .metas{
    padding: var(--card-padding);
    background-color: var(--color-white);
}
main .welcome .consejos{
    padding: var(--card-padding);
    background-color: var(--color-white);
}
main .welcome .Foro{
    padding: var(--card-padding);
    background-color: var(--color-white);
}




main .welcome > div:hover{
    box-shadow: none;
}

main .welcome > div .status{
    
    width: 15rem;
    height: 10rem;
    align-items: center;
    justify-content: space-between;

    
}



main .analywelcome h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .welcome .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .welcome svg{
    width: 7rem;
    height: 7rem;
}

main .welcome svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .welcome .sales svg circle {
    stroke: #003976; /* Cambia el color del borde del círculo */
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .welcome .visits svg circle{
    stroke: #3BAB12; 
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
    
}

main .welcome .searches svg circle{
    stroke: #FF3131;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .welcome .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.right-section{
    margin-top: 1.4rem;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    align-items: right;
}

.right-section .nav .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover{
    box-shadow: none;
}

.right-section .user-profile img{
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: 0.2rem;
}




@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .welcome{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span{
        font-size: 2rem;
    }

}